.PlayerOverview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: white;
  background-color: #2e3740;
  gap: 2rem;
  font-weight: 800;

  /* New for Grid refactoring */
  grid-area: overview;
}

.OverviewProfile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PlayerName {
  font-size: 2rem;
}

.ProfileImage {
  border-radius: 15px;
}

.ProfileHeader,
.WinLossHeader,
.WinrateHeader,
.RankingHeader {
  color: #abafa0;
}

a {
  text-decoration: none;
  color: white;

  &:visited {
    color: rgb(126, 252, 224);
  }
}

a:hover {
  border-bottom: 2px solid white;
}
