.PlayerDetails {
  min-height: 100vh;
  color: white;
  background-color: #1c242d;
  padding: 2rem;

  /* New for Grid refactoring */
  display: grid;
  grid-template-areas:
    'overview overview overview overview overview'
    'heroes heroes heroes heroes lifetime'
    'matches matches matches matches lifetime';
  /* gap: 1rem; */
  justify-content: space-between;

  @media screen and (max-width: 990px) {
    grid-template-areas:
      'overview overview overview overview overview'
      'heroes heroes heroes heroes heroes'
      'matches matches matches matches matches'
      'lifetime lifetime lifetime lifetime lifetime';
  }
}

.Header {
  font-size: 2rem;
  text-align: center;
}

.OverviewWinLoss,
.OverviewWinrate,
.OverviewRanking {
  text-align: center;
}

.PlayerTotals {
  background-color: #2e3740;
  margin: 1rem 2rem;
}

.TotalsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.PlayerWinLoss {
  background-color: #2e3740;
  margin: 1rem;
}

.PlayerWins {
  color: green;
}

.PlayerLosses {
  color: red;
}

.PlayerHeroes {
  /* margin: 0 2rem; */

  /* New for Grid refactoring */
  grid-area: heroes;
}

.HeroList {
  background-color: #242f39;
  margin: 0.5rem 0;
}

.HeroesCategories {
  display: flex;
  padding: 1rem;
}

.HeroesCategories > div {
  flex: 1 1 0px;
  font-weight: 800;
}

.PlayerMatches {
  /* margin: 0 2rem; */

  /* New for Grid refactoring */
  grid-area: matches;
}

.MatchList {
  /* display: flex;
  flex-direction: column; */
  background-color: #242f39;
  margin: 0.5rem 0;
}

.MatchCategories {
  display: flex;
  padding: 1rem;
}

.MatchCategories > div {
  flex: 1 1 0px;
  font-weight: 800;
}

.PlayerLifetime {
  /* margin: 0 2rem; */
  grid-area: lifetime;
}

.LifetimeList {
  /* margin: 0.5rem 0; */
}

a {
  text-decoration: none;
}

a:visited {
  color: pink;
}
