.PlayerDetails {
  min-height: 100vh;
  color: white;
  background-color: #1c242d;
}

.Header {
  font-size: 2rem;
  text-align: center;
}

.OverviewWinLoss,
.OverviewWinrate,
.OverviewRanking {
  text-align: center;
}

.PlayerTotals {
  background-color: #2e3740;
  margin: 1rem 2rem;
}

.TotalsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.PlayerWinLoss {
  background-color: #2e3740;
  margin: 1rem;
}

.PlayerWins {
  color: green;
}

.PlayerLosses {
  color: red;
}

.PlayerHeroes {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.HeroList {
  display: flex;
  flex-direction: column;
  background-color: #242f39;
  /* 2e3740; */
  margin: 0.5rem 0;
}

.HeroesCategories {
  display: flex;
  padding: 1rem;
}

.HeroesCategories > div {
  flex: 1 1 0px;
  font-weight: 800;
}

.PlayerMatches {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.MatchList {
  display: flex;
  flex-direction: column;
  background-color: #242f39;
}

.MatchCategories {
  display: flex;
  padding: 1rem;
}

.MatchCategories > div {
  flex: 1 1 0px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

a:visited {
  color: pink;
}
