.PlayerDetails {
  min-height: 100vh;
  color: white;
  background-color: rgb(28, 36, 45);
}

.Header {
  font-size: 2rem;
  text-align: center;
}

.PlayerOverview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #2b2e35;
  gap: 2rem;
}

.OverviewProfile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.OverviewWinLoss,
.OverviewWinrate,
.OverviewRanking {
  text-align: center;
}

.ProfileHeader,
.WinLossHeader,
.WinrateHeader,
.RankingHeader {
  color: #ccc;
}

/* Contains PlayerName and ProfileImage */
.PlayerHeader {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.PlayerName {
  font-size: 2rem;
}

.ProfileImage {
}

.PlayerTotals {
  background-color: #2b2e35;
  margin: 1rem;
}

.TotalsContainer {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.PlayerWinLoss {
  background-color: #2b2e35;
  margin: 1rem;
}

.PlayerWins {
  color: green;
}

.PlayerLosses {
  color: red;
}

.PlayerMatches {
  background-color: #2b2e35;
  margin: 1rem;
}

.MatchList {
  display: flex;
  flex-flow: row wrap;
}

.PlayerMatch {
  width: 20vw;
  margin: 1rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: pink;
}
